In [1]:
import pandas as pd

In [6]:
program_df = pd.read_pickle("/home/david/projects/university/astnn/data/programs.pkl")
program_df.head()

   0                                                  1   2
0  0  int main()\n{\n\tint a;\n\tint bai,wushi,ershi...  97
1  1  int main()\n{\n    int m,x100,x50,x20,x10,x5,x...  97
2  2  int main()\n{\n    int n,i,shuzu[111],count1=0...  97
3  3  int main()\n{\n\tint n,a1=0,a2=0,a3=0,a4=0,a5=...  97
4  4  int main()\n{\n\tint n,a,b,c,d,e,f;\n\ta=0;b=0...  97

In [11]:
print(program_df[1][2])

int main()
{
    int n,i,shuzu[111],count1=0,count3=0,count2=0,count4=0,count5=0,count6=0;
    scanf("%d",&n);
    while(n>=100){
                  n=n-100;
                  count1++;
                  }
                      while(n>=50){
                  n=n-50;
                  count2++;
                  }
                      while(n>=20){
                  n=n-20;
                  count3++;
                  }
                      while(n>=10){
                  n=n-10;
                  count4++;
                  }    while(n>=5){
                  n=n-5;
                  count5++;
                  }
                      while(n>=1){
                  n=n-1;
                  count6++;
                  }
               printf("%d\n%d\n%d\n%d\n%d\n%d",count1,count2,count3,count4,count5,count6);
               return 0;
               }

In [ ]:
test_df = pd.read_pickle("/home/david/projects/university/astnn/data/test/test_.pkl")
dev_df = pd.read_pickle("/home/david/projects/university/astnn/data/dev/dev_.pkl")
train_df = pd.read_pickle("/home/david/projects/university/astnn/data/train/train_.pkl")

In [ ]:
print(test_df.shape)
print(dev_df.shape)
print(train_df.shape)